<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Arrow Panel</title>
    </h:head>
    <h:body>
        <h:form id="form1">

            <p:ring id="arrowRing" var="arrow" value="#{indexBean.arrows}">
                <p:commandLink id="arrowLink" update=":form1:arrowDetails" oncomplete="arrowDialog.show()">
                    <p:graphicImage value="#{resource['images:arrow-md.png']}"/>
                    <h:outputText value="#{arrow.name}"/>
                    <f:setPropertyActionListener value="#{arrow}" target="#{indexBean.selectedArrow}" />
                </p:commandLink>
                <p:draggable for="arrowLink" helper="clone" />
            </p:ring>

            <p:outputPanel id="bullseyePanel" style="width: 100%; margin-left: auto;margin-right: auto;">
                <p:graphicImage id="bullseye" name="bullseye.jpg" library="images" style="margin-left: auto;margin-right: auto;"/>
                <p:fieldset id="arrowFieldSet" toggleable="true" legend="Fired Arrows" collapsed="true" >
                    <p:panel id="firedArrows">
                        <p:dataGrid id="firedArrowGrid" value="#{indexBean.firedArrows}" var="arrow" columns="1" 
                                    rendered="#{not empty indexBean.firedArrows}" >
                            <p:column>
                                <p:commandLink id="dp" update=":form1:arrowDetails" oncomplete="arrowDialog.show()" title="View Detail">
                                    <p:graphicImage value="#{resource['images:arrow-md.png']}"/>
                                    <f:setPropertyActionListener value="#{arrow}" target="#{indexBean.selectedArrow}" />
                                </p:commandLink>
                            </p:column>
                            <p:column headerText="Name">
                                <h:outputText value="#{arrow.name} - "/>
                            </p:column>
                            <p:column headerText="Description">
                                <h:outputText value="#{arrow.description}"/>
                            </p:column>
                        </p:dataGrid>
                    </p:panel>
                </p:fieldset>
            </p:outputPanel>

            <p:droppable for="bullseye" tolerance="touch" datasource="arrowRing">
                <p:ajax listener="#{indexBean.onArrowDrop}" update="arrowRing firedArrows"/>
            </p:droppable>

            <p:dialog header="Arrow Details" widgetVar="arrowDialog" width="800" height="250" modal="true" showEffect="fade" hideEffect="explode">
                <p:outputPanel id="arrowDetails" style="text-align:center;" layout="block">
                    <p:graphicImage value="#{resource['images:arrow-md.png']}"/>
                    <h:panelGrid  columns="2" cellpadding="5">
                        <h:outputLabel for="id" value="ID: " />
                        <h:outputText id="id" value="#{indexBean.selectedArrow.id}" />
                        <h:outputLabel for="name" value="Name: " />
                        <h:outputText id="name" value="#{indexBean.selectedArrow.name}" />
                        <h:outputLabel for="description" value="Description: " />
                        <h:outputText id="description" value="#{indexBean.selectedArrow.description}" />
                    </h:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>
    </h:body>
</html>